# Importing libraries to be used

In [2]:
# Let's import the pandas library
#
import pandas as pd

# Loading the dataset

In [3]:
#Let's read the csv file and print the top rows
data= pd.read_csv('owid-covid-data.csv')
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
#filling missing values of the total_deaths column
data.bfill(axis ='rows')

data["total_deaths"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [5]:
#filling missing values of the new_deaths column
data.bfill(axis ='rows')

data["new_deaths"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [6]:
#filling missing values of the reproduction_rate column
data.bfill(axis ='rows')

data["reproduction_rate"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [7]:
#filling missing values of the total_vaccinations column
data.bfill(axis ='rows')

data["total_vaccinations"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [8]:
#filling missing values of the people_vaccinated column
data.bfill(axis ='rows')

data["people_vaccinated"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [9]:
#filling missing values of the people_fully_vaccinated column
data.bfill(axis ='rows')

data["people_fully_vaccinated"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [10]:
#filling missing values of the total_boosters column
data.bfill(axis ='rows')

data["total_boosters"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [11]:
#filling missing values of the new_vaccinations column
data.bfill(axis ='rows')

data["new_vaccinations"].fillna(0, inplace = True)
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [12]:
#dropping columns
#the columns are  Irrelevant to our analysis
data.drop(['iso_code','aged_65_older','new_deaths_smoothed','new_cases_smoothed','new_cases_smoothed_per_million','new_deaths_smoothed_per_million','new_tests_smoothed','new_tests_smoothed_per_thousand','new_vaccinations_smoothed','new_vaccinations_smoothed_per_million','new_people_vaccinated_smoothed','new_people_vaccinated_smoothed_per_hundred','aged_70_older','icu_patients','icu_patients_per_million','hosp_patients','hosp_patients_per_million','weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million','new_tests','total_tests','total_tests_per_thousand','new_tests_per_thousand','positive_rate','tests_per_case','tests_units','median_age','extreme_poverty','cardiovasc_death_rate','diabetes_prevalence','female_smokers','male_smokers','handwashing_facilities','hospital_beds_per_thousand','life_expectancy','human_development_index','excess_mortality_cumulative_absolute','excess_mortality_cumulative','excess_mortality','excess_mortality_cumulative_per_million'], axis = 1, inplace = True)
data.head(3)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,total_boosters,new_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,stringency_index,population,population_density,gdp_per_capita
0,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.126,0.126,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.126,0.000,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.126,0.000,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987

In [13]:
#Renaming the columns
renamed = {'hosp_patients':'hospitalized_patients','hosp_patients_per_million':'hospitalized_patients_per_million', 'weekly_hosp_admissions':'weekly_hospital_admissions','weekly_hosp_admissions_per_million' : 'weekly_hospital_admissions_per_million'}
data.rename(columns = renamed, inplace =True)
data.head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,total_boosters,new_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,stringency_index,population,population_density,gdp_per_capita
0,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.126,0.126,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.126,0.000,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.126,0.000,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987
3,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.126,0.000,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987
4,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.126,0.000,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,1803.987

In [14]:
#Lets find the continent most affected by COVID 19 and the least one and their number.
#1. South America was the most affected continent with total deaths of 341,631,554 people
#2. Australia / Oceania was the least affected continent with total deaths of 743,222 people.
total = data.groupby('continent').sum()
groupedTotal = total.sort_values(by="total_deaths" , ascending = False)
groupedTotal

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,total_vaccinations,...,total_boosters,new_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,stringency_index,population,population_density,gdp_per_capita
continent,,,,,,,,,,,,,,,,,,,,,
Europe,2.648045e+10,151585617.0,540535877.0,1686766.0,2.085320e+09,1.259638e+07,3.327020e+07,106050.834,33900.49,2.059230e+11,...,1.572712e+10,1.042820e+09,1117524.10,551868.62,465836.18,83872.50,1673261.92,5.579398e+11,2.176811e+07,1.026531e+09
North America,2.190032e+10,92260302.0,466715375.0,1353716.0,6.674169e+08,4.356608e+06,9.590565e+06,40290.932,13751.29,1.864688e+11,...,9.264146e+09,8.443044e+08,413669.38,216761.54,167880.01,12949.80,858242.47,4.495462e+11,5.324120e+06,3.801532e+08
South America,1.473719e+10,53115189.0,450738711.0,1235823.0,3.240667e+08,1.396525e+06,9.817594e+06,28381.098,8899.56,1.148071e+11,...,6.357838e+09,6.727045e+08,270507.21,142850.14,108886.85,19980.83,561771.84,3.160251e+11,2.112227e+05,1.202940e+08
Asia,2.679277e+10,111647018.0,393823168.0,1330838.0,7.710192e+08,3.778754e+06,7.645032e+06,27995.462,32036.43,1.084226e+12,...,1.253191e+10,6.222260e+09,827257.19,384463.84,300962.15,41528.28,1929760.23,3.475643e+12,3.553906e+07,8.420878e+08
Africa,3.058884e+09,11149073.0,76155315.0,246306.0,2.786365e+08,1.274614e+06,4.362069e+06,16131.417,32562.75,1.791783e+10,...,1.075121e+08,9.902929e+07,80524.38,48668.62,33064.54,773.19,1752898.99,9.818684e+11,3.854475e+06,2.053272e+08
Oceania,1.801802e+08,3303136.0,1187752.0,7473.0,9.463426e+07,8.323950e+05,1.066013e+06,5552.024,2396.75,9.033333e+09,...,4.404228e+08,6.208299e+07,77633.26,42959.32,32354.46,2319.36,210604.02,3.147691e+10,7.432556e+05,8.651310e+07